<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="album"
		label="COM_ALBUM_CONFIG_ALBUM_SETTINGS_LABEL"
		description="COM_ALBUM_CONFIG_ALBUM_SETTINGS_DESC"
	>
		<field
                    name="script_type"
                    type="radio"
                    label="COM_ALBUM_ALBUM_FIELD_SCRIPT_TYPE_LABEL"
                    description="COM_ALBUM_ALBUM_FIELD_SCRIPT_TYPE_DESC"
                    default="0"
                    class="btn-group"
		>
                    <option value="1">COM_ALBUM_ALBUM_YES</option>
                    <option value="0">COM_ALBUM_ALBUM_NO</option>
		</field>
                <field
                    name="bg_color_album"
                    type="color"
                    label="COM_ALBUM_ALBUM_FIELD_BG_COLOR_LABEL"
                    description="COM_ALBUM_ALBUM_FIELD_BG_COLOR_DESC"
                    default="none"
		/>
                <field
                    name="font_color_album"
                    type="color"
                    label="COM_ALBUM_ALBUM_FIELD_FONT_COLOR_LABEL"
                    description="COM_ALBUM_ALBUM_FIELD_FONT_COLOR_DESC"
                    default="white"
		/>
                <field
                    name="font_bg_color_album"
                    type="color"
                    label="COM_ALBUM_ALBUM_FIELD_FONT_BG_COLOR_LABEL"
                    description="COM_ALBUM_ALBUM_FIELD_FONT_BG_COLOR_DESC"
                    default="rgb(0, 169, 201)"
		/>
                <field
                    name="border_radius_album"
                    type="text"
                    label="COM_ALBUM_ALBUM_FIELD_BORDER_RADIUS_LABEL"
                    description="COM_ALBUM_ALBUM_FIELD_BORDER_RADIUS_DESC"
                    default="0"
		/>
                <field
                    name="width_album"
                    type="text"
                    label="COM_ALBUM_ALBUM_FIELD_WIDTH_LABEL"
                    description="COM_ALBUM_ALBUM_FIELD_WIDTH_DESC"
                    default="46%"
		/>
                <field
                    name="height_album"
                    type="text"
                    label="COM_ALBUM_ALBUM_FIELD_HEIGHT_LABEL"
                    description="COM_ALBUM_ALBUM_FIELD_HEIGHT_DESC"
                    default="200px"
		/>
	</fieldset>
        <fieldset
            name="lightbox"
            label="COM_ALBUM_CONFIG_LIGHTBOX_SETTINGS_LABEL"
            description="COM_ALBUM_CONFIG_LIGHTBOX_SETTINGS_DESC"
        >
            <field
                name="overlayBgColor"
                type="text"
                label="COM_ALBUM_ALBUM_FIELD_OVERLAYBGCOLOR_LABEL"
                description="COM_ALBUM_ALBUM_FIELD_OVERLAYBGCOLOR_DESC"
                default="#000"
            />
            <field
                name="overlayOpacity"
                type="text"
                label="COM_ALBUM_ALBUM_FIELD_OVERLAYOPACITY_LABEL"
                description="COM_ALBUM_ALBUM_FIELD_OVERLAYOPACITY_DESC"
                default="0.8"
            />
            <field
                name="imageLoading"
                type="media"
                label="COM_ALBUM_ALBUM_FIELD_IMAGELOADING_LABEL"
                description="COM_ALBUM_ALBUM_FIELD_IMAGELOADING_DESC"
            />
            <field
                name="imageBtnClose"
                type="media"
                label="COM_ALBUM_ALBUM_FIELD_IMAGEBTNCLOSE_LABEL"
                description="COM_ALBUM_ALBUM_FIELD_IMAGEBTNCLOSE_DESC"
            />
            <field
                name="imageBtnPrev"
                type="media"
                label="COM_ALBUM_ALBUM_FIELD_IMAGEBTNPREV_LABEL"
                description="COM_ALBUM_ALBUM_FIELD_IMAGEBTNPREV_DESC"
            />
            <field
                name="imageBtnNext"
                type="media"
                label="COM_ALBUM_ALBUM_FIELD_IMAGEBTNNEXT_LABEL"
                description="COM_ALBUM_ALBUM_FIELD_IMAGEBTNNEXT_DESC"
            />
            <field
                name="containerBorderSize"
                type="text"
                label="COM_ALBUM_ALBUM_FIELD_CONTAINERBORDERSIZE_LABEL"
                description="COM_ALBUM_ALBUM_FIELD_CONTAINERBORDERSIZE_DESC"
                default="10"
            />
            <field
                name="containerResizeSpeed"
                type="text"
                label="COM_ALBUM_ALBUM_FIELD_CONTAINERRESIZESPEED_LABEL"
                description="COM_ALBUM_ALBUM_FIELD_CONTAINERSIZESPEED_DESC"
                default="400"
            />
            <field
                name="fixedNavigation"
                type="radio"
                label="COM_ALBUM_ALBUM_FIELD_FIXEDNAVIGATION_LABEL"
                description="COM_ALBUM_ALBUM_FIELD_FIXEDNAVIGATION_DESC"
                default="0"
                class="btn-group"
            >
                <option value="1">COM_ALBUM_ALBUM_YES</option>
                <option value="0">COM_ALBUM_ALBUM_NO</option>
            </field>
            <field
                name="txtImage"
                type="text"
                label="COM_ALBUM_ALBUM_FIELD_TXTIMAGE_LABEL"
                description="COM_ALBUM_ALBUM_FIELD_TXTIMAGE_DESC"
                default="Image"
            />
            <field
                name="txtOf"
                type="text"
                label="COM_ALBUM_ALBUM_FIELD_TXTOF_LABEL"
                description="COM_ALBUM_ALBUM_FIELD_TXTOF_DESC"
                default="of"
            />
        </fieldset>
	<fieldset
			name="permissions"
			label="JCONFIG_PERMISSIONS_LABEL"
			description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
				name="rules"
				type="rules"
				label="JCONFIG_PERMISSIONS_LABEL"
				class="inputbox"
				validate="rules"
				filter="rules"
				component="com_album"
				section="component"
		/>
	</fieldset>
</config>